:root {
    --main: rgba(245, 245, 245, 0.82);
    --secondary: rgb(204, 204, 204);
    --third: black;
}

body {
    margin: 0;
    background-color: var(--main);
}

main {
    margin: 7rem 10rem 0 10rem;
}

p {
    color: var(--third);
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}


/* Generelle klasser */
.flex {
    display: flex;
}

.center-flex {
    margin: 0;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.flex-space-around {
    justify-content: space-around;
}

.button {
    color: var(--secondary);
    background-color: var(--main);
    border: solid var(--secondary);
    border-radius: 7px;
    height: 2.5rem;
    width: 7rem;
    font-size: 2rem;
    font-weight: bolder;
    transition: all .2s;
}

.button:hover {
    background-color: var(--secondary);
    color: var(--third);
}

.ikon {
    background-color: var(--secondary);
    height: 140px;
    width: 140px;
    margin: auto;
}

.border-radius {
    border-radius: 7px;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 5px 0px 15px;
}

.border {
    border-bottom: solid var(--secondary) 3px;
    margin: 3rem 0 3rem 0;
}

/* Footer */

footer {
    background-color: var(--secondary);
    padding: 2rem 3rem 2rem 3rem;
}

footer section {
    width: 30%;
}

footer section div {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

footer section div a {
    margin: 0 0 0 1rem;
}

.postadresse-footer p {
    text-align: end;
    margin: 0 0 .6rem 0;
}

footer .footer-logo {
    height: 200px;
}


/* index.html */

.tittel-bilde {
    background-image: url(/img/hoved-index.jpeg);
    width: 100%;
    height: 62rem;
    color: white;
    border-bottom: solid 3px black;
}

.tittel-bilde h1 {
    margin: -5rem 0 0 0;
    padding: 0 0 0 15rem;
    font-size: 9rem;
    opacity: 0;
    animation: opacity 1s forwards, slideIn 1s;
    animation-delay: 2.2s;
}

.tittel-bilde h2 {
    font-size: 3rem;
    margin: 0 0 0 35rem;
    opacity: 0;
    animation: opacity forwards;
    animation-delay: 3s;
}

.tittel-bilde p {
    font-size: 9rem;
    opacity: 0;
    animation: opacity forwards;
    animation-delay: .5s;
}

.tittel-bilde div {
    font-size: 9rem;
    padding: 0 0 0 20rem;
    animation: opacity-none;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.index-header {
    margin-top: -70px;
    position: sticky, -webkit-sticky;
    position: -webkit-sticky;
    top: 30px;
}

header a {
    font-size: 2rem;
    margin: auto;
    color: var(--secondary);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

main {
    height: 1000px;
}

main p {
    width: 60%;
    text-align: justify;
}

.section-beliggenhet {
    margin-left: 7rem;
}

.section-beliggenhet h3 {
    font-size: 2rem;
}

.beliggenhet-info {
    width: 100%;
}

.veibeskrivelse-header {
    font-size: 2rem;
    margin-top: 4rem;
}

.veibeskrivelse-knapper {
    width: 50%;
    margin: auto;
}

/* ekstra1.html */


.opening {
    background-color: rgb(8, 154, 211);
    width: 100%;
    height: 48rem;
    text-align: center;
    border-bottom: solid black 5px;
}

.oslometLogo {
    margin-top: 12rem;
    height: 350px;
}

.main {
    background-color: blue;
    height: 2500px;
}

.letsgo {
    color: white;
}

.infoLinje {
    align-self: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.infobtns {
    margin: auto;
}

.linjeBtns {
    align-self: center;
    font-size: 32px;
}

.linjeBtn2 {
    margin: 0 3rem 0 3rem;
}


/* Animasjoner */


@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opacity-none {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
    }
}