:root {
    --main-yellow: rgb(248, 215, 72);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
}


/* index.html */


header {
    background-color: var(--main-yellow);
    height: 92px;
    width: 100%;
}

nav {
    padding-right: 7vw;
    margin-left: 1rem;
    align-self: center;
}

nav > a {
    text-decoration: none;
    color: initial;
    font-size: 1.3rem;
    margin-right: 3rem;
    cursor: pointer;
}


/* ekstra1.html */


.opening {
    background-color: rgb(8, 154, 211);
    width: 100%;
    height: 48rem;
    text-align: center;
    border-bottom: solid black 5px;
}

.oslometLogo {
    margin-top: 12rem;
    height: 350px;
}

.main {
    background-color: blue;
    height: 2500px;
}

.letsgo {
    color: white;
}

.infoLinje {
    align-self: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.infobtns {
    margin: auto;
}

.linjeBtns {
    align-self: center;
    font-size: 32px;
}

.linjeBtn2 {
    margin: 0 3rem 0 3rem;
}