:root {
    --isabelline: #edede9ff;
    --timberwolf: #d6ccc2ff;
    --main: #f5ebe0;
    --champagne-pink: #e3d5caff;
    --secondary: #d5bdafff;
    --text: #000;
    --footer: #FBF9F4;
    /* Farger fra vår valgte fargepalett, 
    som kan gjenbrukes av nåværende og fremtidige utviklere */
    --menu-open: url("../img/icons/menu-open.svg");
    --menu-open-white: url("../img/icons/menu-open-white.svg");
    /* Bilde/symbol til dropdown-meny */
}

body {
    margin: 0;
    background-color: var(--main);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* Felles egenskaper til body */
}

main {
    margin: 0;
    /* Fjerner standard margin fra main */
}

p {
    font-size: 1.3rem;
    /* Setter font-size for alle p-elementer */
}

a {
    color: #000;
    text-decoration: none;
    /* Setter standard textfarge og fjerner underline fra alle linker */
}

/* Generelle klasser */
.flex {
    display: flex;
    /* Klasse for flex som brukes flere ganger i html-filene */
}

.center-flex {
    display: flex;
    justify-content: center;
    /* For å midtstille innhold */
}

.center-text {
    text-align: center;
    /* Midtstiller tekst */
}

.subheader {
    font-size: 2rem;
    /* Scaler headers som kaller på klassen */
}

.end-text {
    text-align: end;
    /* Høyrestiller tekst */
}

.flex-space-between {
    justify-content: space-between;
    /* For white-space mellom innhold */
}

.border-radius {
    border-radius: 7px;
    /* Brukes på "bokser" for å komplementere vårt design */
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 5px 0px 15px;
    /* Skygge bak bilder for å gi en dybde i nettsida */
}

.border-right {
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: var(--text);
    /* Brukes for å sette streker i nettsida og dele opp */
}

.border-left {
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: var(--text);
    /* Brukes for å sette streker i nettsida og dele opp */
}

.info-container {
    margin-bottom: 5rem;
    /* Deler opp og gir space mellom innhold */
}

.text-justify {
    text-align: justify;
    /* Gir nettsiden en avis-aktig følelse når den leses */
}

/* Header */
nav a {
    font-size: 2rem;
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 25%;
    z-index: 1;
    border-radius: 7px;
    padding-top: .7rem;
    height: 3rem;
    transition: all 0.5s;
    /* Setter verdiene for linkene i navbaren for at knappene skal være lik for alle sidene 
    som default for vår side. */
}

nav > div {
    max-width: 1300px;
    margin: auto;
    /* Setter største mulige verdi for div-en som har linkene i nav-baren for at nav-baren skal være
    accessable på wide-screen displays */
}

nav .active {
    font-weight: 800;
    /* Styling av skrift for active side i nav-bar for lett å se hvilken side man er på */
}

header a:hover {
    font-weight: 700;
    color: var(--text);
    /* Styling av skrift ved "hover" i navigation bar, for tydelig å se at man kan klikke på linken */
}

/* Dropdown-menu */
#drp-menu-toggle {
    display: none;
    /* Ikonet er skjult når nav-baren vises */
}

/* Footer */
footer {
    background-color: var(--isabelline);
    padding-top: 2rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    border-top-color: #000;
    border-top-width: 3px;
    border-top-style: solid;
    /* Styling av footer */
}

.footer-logo {
    height: 160px;
    padding-top: 0;
    padding-right: 3rem;
    padding-bottom: 0;
    padding-left: 3rem;
    filter: drop-shadow(2px 2px 2px #000);
    /* Styling av footer-logo */
}

.footer-social-logo {
    height: 40px;
    width: 40px;
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
    /* Styling av ikoner i footer */
}

.footer-contact {
    margin-top: .5rem;
    /* Justere til margin for kontakt-oss tekst i footer */
}

.footer-adress {
    line-height: 2.6rem;
    margin: -0.09rem;
    /* Justere til margin og linje-høyde for adresse-tekst i footer */
}

.footer-container {
    width: 30%;
    /* Justere bredde i footer */
}

footer section div p {
    line-height: 2.4rem;
    /* Justere linje høyde for tekst i footer */
}

footer a {
    color: #000;
    transition: all;
    transition-duration: .25s;
    /* Justere farge og transition for lenker i footer */
}

footer a:hover {
    color: rgba(0, 0, 0, 0.35);
    transform: scale(1.2);
    /* Endrer farge ved "hover" over lenkene i footer */
}

footer a:active {
    transform: scale(1);
    /* Endrer utseende på aktiv lenke i footer */
}

/* index.html */
.opener {
    margin-top: 11vw;
    margin-right: 4rem;
    margin-bottom: 20vw;
    margin-left: 0;
    animation-name: opacity-none;
    animation-duration: .3s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
    /* Styling av åpningsseksjonen, med en animasjon som fjerner alt av skrift etter 1.6 sekund */
}

.opener-background {
    opacity: 0;
    width: 100%;
    height: 54vw;
    position: absolute;
    top: 0;
    animation-name: opacity;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    object-fit: cover;
    /* Styling av hovedbakgrunnen, med animasjon som gjør at den blir synlig etter 2.5s */
}

.opener-left {
    animation-name: slideDown;
    animation-duration: .9s;
    animation-delay: .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-size: 7vw;
    margin: 0;
    /* Styling av teskten "Oslo" i åpninsseksjonen, med animasjon om at den flytter seg nedover */
}

.opener-border {
    margin-top: 1rem;
    margin-right: 1.6rem;
    margin-bottom: 1rem;
    margin-left: 1.6rem;
    width: 3px;
    background-color: #000;
    /* Linjen som skiller "Oslo" fra resten av orda */
}

.opener-logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 32vw;
    opacity: 0;
    animation-name: opacity, dragUp;
    animation-duration: .8s, 1s;
    animation-delay: 2s, 2.5s;
    animation-fill-mode: forwards;
    /* Logoen på hjemmesiden, med animasjon som gjør at den blir synlig, og at den beveger seg oppover */
}

.opener1 {
    opacity: 0;
    animation-name: slideUp, opacity;
    animation-duration: .3s, .1s;
    animation-fill-mode: forwards;
    /* Styling av ordet "CITY" i åpningsseksjonen */
}

.opener2 {
    opacity: 0;
    animation-name: slideUp, opacity;
    animation-duration: .3s, .1s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    /* Styling av ordet "TAXI" i åpningsseksjonen */

}

.opener3 {
    opacity: 0;
    animation-name: slideUp, opacity;
    animation-duration: .3s, .1s;
    animation-delay: .4s;
    animation-fill-mode: forwards;
    /* Styling av ordet "MET" i åpningsseksjonen */

}

.opener-li {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -2rem;
    list-style-type: none;
    font-size: 7vw;
    /* Styling av listen med ordene "CITY", "TAXI og "MET" i åpningsseksjonen */
}

.index-main {
    margin-top: 2rem;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    /* Legger på en margin som endres etter hvor stor skjermen er */
}

.index-h1 {
    width: 40rem;
    padding-top: 0;
    padding-right: 6rem;
    padding-bottom: 0;
    padding-left: 0;
    margin-right: 6rem;
    /* styling av h1-elementet i indexen */
}

.index-h2 {
    padding-left: 6rem;
    margin-left: 6rem;
    /* Styling av h2-elementet i indexen */
}

.info-container img {
    height: 20vw;
    /* Setter høyde på de tre bildene på rekke i indexen */
}

.info-left {
    flex-direction: row-reverse;
    /* Setter flex direction slik at det siste elementet kommer først i rekka */
}

.p-veibeskrivelse {
    padding: 0;
    padding-right: 1rem;
    padding-bottom: 0;
    padding-left: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    /* Styling av ordet "BIL". Gjør slik at plasseringen blir som ønsket. */
}

.googlemaps {
    border: 0;
    width: 20vw;
    height: 20vw;
    /* Styling av iframene slik at de får ønsket størrelse og null border */
}

.mobile-logo {
    display: none;
    margin-top: 3rem;
    margin-right: auto;
    margin-bottom: 12rem;
    margin-left: auto;
    width: 8rem;
    /* Styling av mobillogoen som gjør at den får ønsket størrelse og plassering når skjermen blir mindre enn 850px */
}

.mobile-opener-background {
    display: none;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 19.5rem;
    object-fit: cover;
    border-bottom-color: #000;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    /* Styler backgrunnen på indexen som vises når skjermen er mindre enn 850px */
}

/* canteen.html */
.opening {
    height: 20em;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    position: relative;
    justify-content: center;
    background-image: url("../img/canteen/kokk-høy-kvalitet.webp");
    background-size: cover;
    /* Legger til bildet og tittel i header for å gi et inntrykk av hva siden handler om. */
}

.opening > h1 {
    align-self: center;
    text-transform: uppercase;
    font-size: 5rem;
    /* Styler tittelen i header */
}

.opening > img {
    position: absolute;
    align-self: center;
    left: 10vw;
    height: 6rem;
    width: 6rem;
    /* Plasserer oslomet-logoen og setter størrelsen. Lik som på accessibility-sida. */
}

.main-container {
    margin-top: -20rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr calc(2fr - 20rem) 1fr;
    row-gap: 5rem;
    max-width: 1150px;
    align-self: center;
    /* Grid-container i main for å sette opp innholde over hverandre. Lager struktur på sida */
}

.article-container {
    display: grid;
    grid-template-columns: 1fr 10rem 1fr;
    row-gap: 10rem;
    justify-items: center;
    /* Ny grid-container som har tekst-innholdet til sida. */
}

.toppics {
    grid-column: 1 / 3;
    grid-row: 1;
    margin-top: 25rem;
    margin-bottom: 5rem;
    justify-content: center;
    /* Setter bildene øverst på sida for blikkfang */
}

.toppics > img {
    height: 20rem;
    border-radius: 10px;
    /* Skalerer bildene under klassen "toppics" */
}

.middle-img {
    margin-left: 2em;
    margin-right: 2em;
    /* Setter margin på bildet i midten for å gi litt space mellom bildene */
}

.line {
    justify-self: center;
    align-self: center;
    margin: auto;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: #000;
    height: 100%;
    grid-column: 2;
    /* Linje som deler opp nettsiden på midten for å gjøre den mer leselig */
}

.box1 {
    grid-column: 1;
    grid-row: 1;
    max-width: 21rem;
    min-width: 15.5rem;
    justify-content: center;
    /* Plasering av innhold i article-container */
}

.box2 {
    grid-column: 3;
    max-width: 21rem;
    min-width: 15.5rem;
    /* Plasering av innhold i article-container */
}

.box3 {
    grid-column: 1;
    grid-row: 2;
    max-width: 21rem;
    min-width: 15.5rem;
    /* Plasering av innhold i article-container */
}

.box4 {
    grid-column: 3;
    grid-row: 2;
    /* Plasering av innhold i article-container */
}

.box2,
.box3 {
    flex-direction: column;
    align-self: center;
    /* Sentrerer innholdet i gridden for å følge designet til nettsiden. */
}

.box2 > h3,
.box3 > h3,
.box3 > p {
    text-align: center;
    /* Sentrer teksten i boksene */
}

.box2 > p {
    align-self: center;
    justify-self: center;
    text-align: justify;
    /* Senterer og gjør paragrafene lignende avisartikkel */
}

.crew {
    grid-column: 1 / 3;
    grid-row: 3;
    /* Container for bildene og teksten nederst i main */
}

.bottompics {
    grid-column: 1 / 3;
    grid-row: 4;
    margin-top: 3em;
    margin-bottom: 3em;
    /* Plasserer bildene nederst og gir space fra tittelen og footer */
}

.bottompics img {
    box-shadow: rgba(0, 0, 0, 0.35) 5px 0px 15px;
    height: 7rem;
    border-radius: 10px;
    /* Skalerer bildene under bottompics og gir skygge. */
}

.bottompics p {
    padding-left: 1em;
    /* Gjør at teksten holder seg litt unna bildet */
}

/* accessibility */
.access-header-background {
    height: 20em;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    background-image: url("../img/accessibility/world-wide-accessable.jpg");
    /* Bilde av nasa fra https: //unsplash.com/photos/photo-of-outer-space-Q1p7bh3SHj8 */
    background-size: cover;
    /* Legger til bildet og tittel i header for å gi et inntrykk av hva siden handler om. */
}

.access-logo {
    position: absolute;
    align-self: center;
    left: 10vw;
    height: 6rem;
    width: 6rem;
    /* Justerer posisjon og størrelse til oslo-met logo */
}

.access-header {
    justify-self: center;
    align-self: center;
    font-size: 5rem;
    padding-top: 6rem;
    padding-right: 0;
    padding-bottom: 6rem;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    text-transform: uppercase;
    /* justerer størrelse, posisjon og farge til header */
}

.access-subheader {
    margin-top: 0;
    /* subheader med 0 top-margin */
}

.access-info1 {
    height: 28rem;
    /* Gir info1 gitt høyde ift tekstmengde */
}

.access-info2 {
    height: 12rem;
    /* Gir info2 gitt høyde ift tekstmengde */
}

.access-info3 {
    height: 15rem;
    /* Gir info3 gitt høyde ift tekstmengde */
}

.access-box {
    width: 30rem;
    /* Gir artikkelboksene til "våre valg" gitt bredde */
}

.access-text {
    margin-bottom: 2rem;
    /* tilpasser marginen til teksten */
}

.access-border {
    border-right-style: solid;
    border-right-color: #000;
    border-right-width: 2px;
    margin-top: 0.3rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    /* Designer og justerer borderen til "våre valg" artikkelen */
}

.access-img {
    width: 15rem;
    height: 15rem;
    margin-right: 4rem;
    /* Justerer høyde og bredde til bilde for fargevalg og kontrast */
}

.access-box h5 {
    margin-top: 0;
    margin-bottom: 0;
    /* Justerer margin til boksene i acc-test */
}

.access-container {
    margin-bottom: 3rem;
    /* Justerer margin */
}

.access-mobile-box {
    display: none;
    margin: auto;
    /* ingen display og gir margin: auto til "våre valg" boksene */
}

/* Topical */
.header-topical {
    height: 26rem;
    /* Sette høyde for header i topical-siden */
}

.topical-body {
    background-image: url("../img/topical/joey-kyber-45FJgZMXCK8-unsplash-3.jpg");
    /* Bakgrunnsbilde hentet fra unsplash.com 
    https://unsplash.com/photos/timelapse-photo-of-highway-during-golden-hour-45FJgZMXCK8*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    /* Sette/style bakgrunnsbilde for siden */
}

.topical-body .border-radius {
    color: white;
    /* Styling av tekst i nav-bar */
}

.topical-body > main {
    margin: 0;
    margin-top: -26rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    /* Setter verdier for main i topical-siden */
}

.topical-body a {
    color: #fff;
    /* Styling av alle linker inne i main på topical-siden */
}

.topical-body a:hover {
    color: #7bafd6;
    /* Styling for "hovering" av linker inne i main topical-siden */
}

.topical-article > section {
    height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    /* Setter verdier for sections. Plassering av tekstboks 
    Scroll-snap-align til start av hver section */
}

.topical-article h1 {
    font-size: 4rem;
    color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    background-color: #000008e6;
    /* Styling av h1 på topical-siden */
}

.topical-article p {
    display: auto;
    max-width: 90vh;
    font-size: 1.1rem;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    background-color: #000008e6;
    /* Styling av p på topicalsiden */
}

#referanser h2 {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 3vh;
    color: #fff;
    background-color: initial;
    /* Styling av h2 på topicalsiden, overskrift referanser */
}

#referanser > ol {
    background-color: #000008;
    border-radius: 10px;
    padding-left: 2rem;
    padding-bottom: 3vh;
    /* Styling av referanse-liste */
}

#referanser li {
    color: #fff;
    font-size: 2vh;
    padding: 0;
    /* Styling av tall i referanse-liste */
}

#referanser p {
    font-size: 1.8vh;
    background-color: initial;
    padding: 0;
    margin: 0;
    margin-right: 2vw;
    padding-bottom: 4vh;
    /* Styling av p i referanse-liste */
}

/* Animasjoner */
@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    /* Animasjon som går fra helt gjennomsiktig og til synlig */
}

@keyframes opacity-none {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

    /* Animasjon som gjør at ting går fra synlig, til usynlig */
}

@keyframes slideUp {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(0);
    }

    /* Animasjon som fører ett objekt 200px oppover i Y-retning*/
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(16vw);
    }

    /* Animasjon som fører ett objekt nedover 16vw i Y-retning */
}

@keyframes dragUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-8vw);
    }

    /* Animasjon som fører et objekt oppover 8vw i Y-retning*/
}

/* Media query som skalerer siden til tablet view */
@media (max-width: 1055px) {
    .opening > img {
        display: none;
        /* Fjerner bilde under .opening for skjermer under 1055px */
    }

    .middle-img {
        display: none;
        /* Fjerner bilde under .middle-img for skjermer under 1055px */
    }

    .line {
        display: none;
        /* Fjerner linje under .line for skjermer under 1055px */
    }

    .toppics {
        margin-left: 0;
        margin-right: 0;
        /* Fjerner margin for under .toppics for skjermer under 1055px */
    }

    .toppics > img {
        height: 20rem;
        border-radius: 10px;
        margin-left: 1em;
        margin-right: 1em;
        /* Fjerner høyde, border og margin for bilder 
        under .toppics for skjermer under 1055px */
    }

    .bottompics {
        flex-direction: column;
        /* Setter innholdet til kolonner under
        .bottomtoppics for skjermer under 1055px */
    }

    .bottompics > div {
        margin-bottom: 1em;
        justify-content: center;
        /* Justerer margin og sentrerer innhold
        under .toppics for skjermer under 1055px */
    }

    .access-logo {
        display: none;
        /* Skjuler logo under .access-logo for skjermer under 1055px */
    }
}

/* Media query som skalerer til mobile view */
@media (max-width: 900px) {
    main {
        margin-right: 2rem;
        margin-left: 2rem;
        /* Justere margin for skjermer under 850px */
    }

    /* HEADER */
    header {
        height: 20rem;
        /* Justere høyde til header for skjermer under 850px */
    }

    .drp-menu-toggle-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        position: absolute;
        /* Strukturer linkene nedover i drop-down-menyens container */
    }

    .menu-icon {
        background-image: var(--menu-open);
        background-size: cover;
        height: 40px;
        width: 40px;
        cursor: pointer;
        transition: all .5s;
        /* Bytter ut "checkbox" ikonet med et bilde av en burgermeny,
            transition all for å få en smooth opplevelse */
    }

    .menu-icon:hover {
        height: 42px;
        width: 42px;
        /* Øker størrelen til menyen for å indikere at man kan klikke på menyen */
    }

    .menu > a {
        margin-left: 0.5em;
        overflow: hidden;
        font-size: smaller;
        background-color: var(--main);
        transition: none;
        /* Plasserer linkene i drop-down-menyen, overflow hidden for å skjule linkene når menyen er stengt */
    }

    #drp-menu-toggle ~ .menu a {
        height: 0px;
        width: 0px;
        /* Skjuler nav-baren før drop-menyen er aktiv */
    }

    #drp-menu-toggle:checked ~ .menu {
        flex-direction: column;
        position: absolute;
        justify-content: left;
        margin-top: 31px;
        margin-left: 40px;
        background-color: var(--main);
        border-width: 2px;
        border-style: solid;
        border-color: #000;
        border-radius: 10px;
        height: 7em;
        width: 7.5em;
        z-index: 1;
        /* Styler boksen som kommer opp når man klikker på burger-menyen */
    }

    #drp-menu-toggle:checked ~ .menu a {
        height: 1em;
        margin-left: 0.5em;
        font-size: smaller;
        padding-top: 0.7rem;
        padding-right: 8em;
        padding-left: .1em;
        transition: all .5s;
        z-index: 2;
        /* Setter verdier for linkene som dukker opp inni boksen som dukker opp fra menyen.*/
    }

    /* MAIN */
    .index-bilde-2,
    .index-opening,
    .mobile-cleanup {
        display: none;
        /* Skjuler .index-bilde-2, . index-opening og .mobile.cleanup for skjermer under 850px */
    }

    .index-h2 {
        margin: auto;
        /* Justerer margin for .index-h2 for skjermer under 850px */
    }

    .mobile-logo,
    .mobile-opener-background {
        display: block;
        /* Justere posisjon for .mobile-logo og
             .mobile-opener-background for skjermer under 850px */
    }

    .googlemaps {
        width: 10rem;
        height: 10rem;
        margin-top: 2rem;
        margin-right: auto;
        margin-bottom: 0rem;
        margin-left: auto;
        /* Setter størrelse og margin for 
            .googlemaps for skjermer under 850px */
    }

    .mobile-flex-col {
        flex-direction: column;
        /* Setter innholdet i .mobile-flex-col 
            til kolonne for skjermer under 850px */
    }

    .opening > h1 {
        text-align: center;
        /* Senterstille h1-tekst under .opening for skjermer under 850px */
    }

    .main-container {
        row-gap: 1rem;
        /* Justere avstand mellom rader for skjermer under 850px */
    }

    .article-container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        margin-top: 9rem;
        /* Endrer struktur fra grid til flex for skjermer under 850px,
            for å få innholdet i kolonne */
    }

    .box1 {
        align-self: center;
        /* Sentrerer .box1 for skjermer under 850px */
    }

    .box3 {
        margin-bottom: 5rem;
        /* Sette margin til .box3 for skjermer under 850px */
    }

    .box4 h2 {
        margin-top: 2rem;
        /* Sette margin til .box3 for skjermer under 850px */
    }

    .line {
        display: none;
        /* Sette margin til .box3 for skjermer under 850px */
    }

    .box2,
    .box3 {
        min-width: 15.313rem;
        /* Sette minimum bredde for .box2 og .box3 
            for skjermer under 850px */
    }

    .toppics > img:nth-child(1) {
        display: none;
        /* Fjerner sidens første bilde for skjermer under 850px */
    }

    .toppics > img:nth-child(3) {
        height: 15rem;
        margin-top: -2rem;
        position: absolute;
        /* Justerer størrelse og plassering for bilde nr. 3 
            for skjermer under 850px */
    }

    .access-header {
        font-size: 9vw;
        /* Style tekst-størrelse på tekst under
        .accessheader for skjermer under 850px */
    }

    .border-left {
        border: 0;
        /* Fjerner border-left for skjermer under 850px */
    }

    .border-right {
        border: 0;
        /* Fjerner border-left for skjermer under 850px */
    }

    .info-container img {
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 2rem;
        margin-left: auto;
        height: 65vw;
        width: 50%;
        /* Justerer størrelse og plassering på bildene under  
        .info-container for skjermer under 850px */
    }

    .info-container {
        justify-content: center;
        /* Senterer innholdet i .infocontainer for skjermer under 850px */
    }

    .subheader {
        padding: 0;
        text-align: center;
        width: 100%;
        font-size: 1.6rem;
        /* Justererer plassering, tekststørrelse og størrelse for 
        .subheader for skjermer under 850px */
    }

    .access-big-box {
        display: none;
        /* Skjuler .access-big-box for skjermer under 850px */
    }

    .access-img {
        margin: auto;
        /* Justerer margin for .access-img for skjermer under 850px */
    }

    .access-container {
        flex-direction: column-reverse;
        width: 100%;
        /* Setter innholdet i .access-container 
        til kolonne og justerer bredden for skjermer under 850px */
    }

    .access-mobile-box {
        display: block;
        width: 100%;
        /* Justerer posisjon og bredde til .access-mobile-box 
        for skjermer under 850px */
    }

    .access-box {
        margin: auto;
        width: 100%;
        /* Justerer margin og bredde til .access-mobile-box 
        for skjermer under 850px */
    }

    .menu-icon-white {
        display: block;
        background-image: var(--menu-open-white);
        background-size: cover;
        position: absolute;
        left: 5px;
        top: 2px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        transition: all .5s;
        /* Media-query for dropdown meny */
    }

    .topical-body #drp-menu-toggle:checked ~ .menu {
        background-color: #68d2f2;
        /* Styling av farge på tekst dropdown meny */
    }

    .topical-body #drp-menu-toggle:checked ~ .menu a {
        background-color: #68d2f2;
        /* Styling av farge på tekst dropdown meny */
    }

    /* FOOTER */
    footer > section {
        flex-direction: column;
        align-items: center;
        /* Justerer innholdet i footeren til kolonner 
            og sentrer for skjermer under 850px */
    }

    .footer-logo {
        height: 10rem;
        width: 10rem;
        margin-bottom: 40px;
        /* Justerer størrelse og margin på logo
            i footer for skjermer under 850px */
    }

    .footer-container {
        min-width: 15.131rem;
        /* Setter minumum bredde for footer */
    }

    .footer-container div {
        flex-direction: row;
        /* Strukturer innholdet i footeren i kolonne 
            for skjermer under 850px */
    }

    .end-text {
        text-align: center;
        /* sentrer tekst innenfor .end-text for skjermer under 850px */
    }
}

/* Media query for wide-screen */
@media (min-width: 1800px) {
    .topical-body .border-radius {
        background-color: #68d2f2;
        /* Styling av tekst i nav-bar ved skjermer over 1800px */
    }
}